.home__wrap {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'CS Grimrock', sans-serif;
    color: whitesmoke;
}
