.buttons {
    width: 160px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    outline: none;
    border: 1px solid #0b3b63;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

    background-color: #0b3b63;
    color: orange;
    border-radius: 5px;
    text-shadow: 5px 5px 5px  rgba(0,0,0,0.75);
}

.button__center {
    width: 80px;
}



/*  Right button */
.button__right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.button__right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1260a1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button__right:hover {
    color: orange;
    border: 1px solid #1260a1;
}

.button__right:active {
    transform: translate(1px, 1px);
}
.button__right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*=====*/

/*  Left button */
.button__left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.button__left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1260a1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button__left:hover {
    color: orange;
    border: 1px solid #1260a1;
}

.button__left:active {
    transform: translate(1px, 1px);
}

.button__left:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*=====*/

/* Center button */
.button__center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.button__center:hover {
    background-color: #1260a1;
    color: orange;
    border: 1px solid #1260a1;
}

.button__center:active {
    transform: translate(1px, 1px);
}

