
.get_users_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    align-items: center
}
.name_user {
    color: #bf360c;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}
.avatar_user {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    border-radius: 50%;
}

.get_users {
    display: flex;
}
.cursorSort {
 cursor: pointer;
}