.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 48px;
    overflow: hidden;
    background: transparent;
}

.search__title {
    margin-right: 6px;
    font-size: 18px;
    color: orange;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}


.search__bar {
    width: 280px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.search__bar input[type="text"] {
    width: 15px;
    background: transparent;
    padding: 10px;
    /*border-color: #088dcd;*/
    text-indent: 30px;
    outline: none;
    border: 0 solid #088dcd;
    font-size: 12px;
    color: #A8A952;
    border-radius: 5px;
    font-family:  sans-serif;
    -webkit-transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
    transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
}
.search__bar ::-webkit-input-placeholder {
    color: #448996;
    font-weight: 400;
    font-family:  sans-serif;
}

.search__bar input[type="checkbox"], .search__label:before,
.search__label:after {
    display: none;
}

.search__bar input[type="checkbox"]:checked + .search__label,
.search__bar input[type="checkbox"]:not(checked) + .search__label {
    position: initial;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search__bar i {
    position: absolute;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateX(50%) rotate(0deg) scale(1);
    transform: translateX(50%) rotate(0deg) scale(1);
    cursor: pointer;
    z-index: 2;
    margin: auto;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    background: transparent;
    -webkit-transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
    transition: right .3s .3s, transform .3s .3s, color .3s, -webkit-transform .3s .3s;
    color: #A8A952;
}

.icon__wrap {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__icon_close {
    filter: invert(16%) sepia(100%) saturate(3990%) hue-rotate(355deg) brightness(78%) contrast(118%);
}

.search__icon_search:hover {
    transition: all 0.3s ease;
    filter: invert(40%) sepia(90%) saturate(747%) hue-rotate(162deg) brightness(97%) contrast(96%);
}

.search__bar p {
    position: absolute;
    margin: 0;
    right: 52px;
    color: #088dcd;
    font-weight: 400;
    font-size: 22px;
    top: -50%;
    -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
    transform: translateY(-50%) rotate(0deg) scale(1);
}

.search__bar input[type="checkbox"]:checked + .search__label + .search__input {
    width: 280px;
    border: 2px solid #088dcd;
    text-indent: 0;
}

.search__bar input[type="checkbox"]:checked + .search__label i {
    right: 0;
    -webkit-transform: translateX(50%) rotate(360deg) scale(0);
    transform: translateX(50%) rotate(360deg) scale(0);
    -webkit-transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
    transition: right .3s .3s, transform .3s .1s, color .3s, -webkit-transform .3s .3s;
}

.search__bar input[type="checkbox"]:checked + .search__label .search__icon_close  {
    left: 220px;
    -webkit-transform:  rotate(360deg) scale(1);
    transform:  rotate(360deg) scale(1);
}

.search__bar input[type="checkbox"]:checked + .search__label p {
    top: 38%;
    -webkit-transition: all .3s .45s;
    transition: all .3s .45s;
}

.search__bar input[type="checkbox"]:not(checked) + .search__label p {
    top: -50%;
    -webkit-transition: all .3s 0s;
    transition: all .3s 0s;
}

.search__bar .search__icon_close {
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
}
