.sort__wrap {
    display: flex;
    align-items: center;
}

.sort__title {
    font-family: 'CS Grimrock', sans-serif;
    margin-right: 10px;
    font-size: 16px;
    color: orange;
    font-weight: normal;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.sort__button {
    width: 21px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #088dcd;
    color: #088dcd;
    cursor: pointer;
    outline: none;
    margin: 1px;
    transition: all .3s ease;
}

.sort__button:hover {
    transition: all .3s ease;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
}

.sort__button:active  {
    transition: all .3s ease;
    transform: translate(1px,1px);
}