
.form__button {
  background-color: transparent;
  border: 1px solid #795548;
  outline: none;
  padding: 4px 10px;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
  font-size: 10px;
}

.form__button:hover {
  background-color: #3e2723;
  color: wheat;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
