.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    background-image: url('../../images/header-bg-cloud80.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.header__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
}

.header__logo {
    height: 40px;
    display: flex;
    align-items: center;
    width: 170px;
    margin-left: 100px;
    /*cursor: pointer;*/
}

.header__home {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 100px;

}

.header__home img, .header__logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.header__link {
    outline: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.header__link_notActive {
    pointer-events: none;
    cursor: none;
}

/*===== стили для tooltip*/
.tooltip {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    justify-content: center;
    z-index: 300;
    opacity: .40;
    /*padding: 3px;*/
    background: #393939;
    color: #088dcd;
    position: absolute;
    font-size: 10px;
    box-sizing: border-box;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;

    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);

    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    top: -30%;
    left: -75%;
    width: 250%;
}

.tooltip_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;

    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

}

.tooltip_title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.header__home:hover .tooltip {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    box-shadow: rgb(49, 56, 60) 0px 8px 8px;
    border-color: transparent;
    transition: all 0.15s linear 0s;

    animation: tooltip 1s ease-in-out infinite alternate;

}

/*========*/