.game__wrap {
    width: 100%;
    height: 100vh;
    background-color: #607d8b;
    font-family: 'CS Grimrock', sans-serif;
    min-width: 100%;
    min-height: 100vh;
    display: flex;

}

.game__container {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    margin-top: 100px;
    max-width: 1360px;
    display: flex;

    border: 1px solid darkblue;
}

.game__left {
    flex-grow: 1;
    background: transparent;
}
.game__right {
    flex-grow: 1;
    background: transparent;
}
.game__analytics {
    width: 20%;
    max-width: 400px;
    height: 100%;
    border: 1px solid red;
}
.game__content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    border: 1px solid green;
}

.content__header {
    width: 100%;
    max-height: 150px;
    min-height: 120px;
    margin-bottom: 50px;
    border: 1px solid orange;
}
.content__main {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border: 1px solid darkblue;
    z-index: 1;
}

.main__card {
    width: 500px;
    max-width: 500px;
    max-height: 400px;
    min-height: 300px;
    border: 1px solid darkblue;
    margin-right: 80px;
}

.main__deck {
    /*width: 250px;*/
    /*max-width: 250px;*/
    max-height: 400px;
    min-height: 300px;

    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.content__buttons {
    width: 100%;
    min-height: 80px;
    border: 1px solid orange;
}









.game__chat {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 200px;
    background-color: red;
    border: 1px solid red;
}