.form__group {
  position: relative;
  margin: 10px 0;
  min-width: 240px;
  max-width: 300px;
}


.form__group .control__label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #5d4037;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  left: 0;
}

.form__group .mtrl__select {
  position: relative;
  border-bottom: 0.0625rem solid #795548;
  display: block;
}

.form__group .mtrl__select::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #3e2723;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}

.form__group input {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 12px;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: #3e2723;
  font-weight: bold;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  -webkit-box-shadow: none;
  box-shadow: none;

  height: 1.9rem;

}
/*убираю белый фон при автозаполнении браузером полей */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill{
    -webkit-text-fill-color: #1f1f20;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}
/*=====*/

.form__group input:focus {
  color: #82898e;
}

.form__group input:focus ~ .control__label,
.form__group input:valid ~ .control__label {
  font-size: 9px;
  color: #795548;
  top: -10px;
  left: 0;
}

.form__group input:focus {
  outline: none;
}

.form__group input:focus ~ .control__label {
  color: #82898e;
}

.form__group input:focus ~ .mtrl__select::before {
  width: 100%;
  left: 0;
}
.form__warning_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.form__warning_icon {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: 4px;
  z-index: 100;
  cursor: pointer;
}

.form__warning_info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  opacity: 1;
  position: absolute;
  background-color: red;
  color: wheat;
  font-size: 10px;
  right: 25px;
  height: 86%;
  bottom: 2px;
  z-index: 90;
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
  transition: transform 300ms linear;
  will-change: transform;
}

.form__warning_icon:hover + .form__warning_info {
  animation: shift 300ms linear forwards;
}


@keyframes shift  {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  20% {
    transform: translateX(100%);
    opacity: 0;
  }
  40% {
    transform: translateX(80%);
    opacity: 0.4;
  }
  60% {
    transform: translateX(60%);
    opacity: 0.6;
  }
  80% {
    transform: translateX(40%);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
