.input {
  padding: 3px;
  margin-top: 10px;
  width: 150px;
  outline-color: black;
  font-family: fantasy;
  font-style: italic;
}

.input.error {
  border-color: red;
  outline-color: red;
}

.errorMessage {
  color: red;
}
