.graph__wrap {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    color: #088dcd;
    opacity: 0;
    padding: 5px;

}

.graph__wrap_active {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    padding: 5px;
    color: #088dcd;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.graph__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24%;

    border:  1px solid green;
}

.graph__graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    position: relative;

    border:  1px solid red;
}

.graph__button {
    position: absolute;
    bottom: 10px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #0b3b63;
    color: whitesmoke;
    font-size: 10px;
    cursor: pointer;
    transition: .25s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 -.25rem #1f5e25;
}

.graph__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36%;
}