.plug__wrap {
    width: 100%;
    height: 335px;
    background: url('../../../images/plug-bg-4.png');    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}