.deck__wrap {
    position: absolute;
    top: 0;
    left: 0;
}
.deck {
    position: relative;
    width: 250px;
    max-height: 400px;
    min-height: 300px;
    background: #0b3b63;
    margin: 0 auto;
    border-radius: 4px;
    cursor: pointer;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, .2);*/
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.deck:before,
.deck:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #0b3b63;
    transition: 0.5s;
    z-index: -1;

}

.deck:hover:before {
    transform: rotate(20deg);
    /*box-shadow: 0 2px 20px rgba(0, 0, 0, .2);*/
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.deck:hover:after {
    transform: rotate(10deg);
    /*box-shadow: 0 2px 20px rgba(0, 0, 0, .2);*/
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.deck .card__imgBx {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background: white;
    transition: 0.5s;
    z-index: 1;
}

.deck:hover .card__imgBx {
    bottom: 40px;
}

.deck .card__imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.deck .deck__details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 30px;
    text-align: center;
}

.deck .deck__details h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
}

