.find__wrap {
    width: 100%;
    height: 100vh;
    /*background-color: #607d8b;*/
    font-family: 'CS Grimrock', sans-serif;
    min-width: 100%;
    min-height: 100vh;
    display: flex;

    background: #607d8b url('../../images/game-bg-2.jpg') center center no-repeat;
    background-size: cover;
}

.find__container {
    position: relative;
    width: 1140px;
    max-width: 1140px;
    height: calc(100vh - 150px);
    margin: 100px auto 0 auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);

}

.find__left {
    flex-grow: 1;
    background: transparent;
}

.find__right {
    flex-grow: 1;
    background: transparent;
}
