.find__wrap {
    width: 100%;
    height: 100vh;
    font-family: 'CS Grimrock', sans-serif;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    background: url('../../images/find-bg.jpg') center center no-repeat;
    background-size: cover;
}

.find__left {
    flex-grow: 1;
    background: transparent;
}

.find__right {
    flex-grow: 1;
    background: transparent;
}

.find__container {
    position: relative;
    width: 1140px;
    max-width: 1140px;
    height: calc(100vh - 150px);
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    padding: 20px;
}

.container__top {
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-left: -78px;
}

.container__body {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container__leftBlock {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
}

.find__wrap_block {
    position: relative;
    width: 100%;
    height: max-content;
}

.find__wrap_mirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 10;
}

.find__loader {
    width: 100%;
    margin-top: 69px;
    min-height: 300px;
    max-height: 300px;
    background: url('../../images/unit.jpg') center center no-repeat;
    background-size: cover;

}

.find__paginate {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border: 1px solid transparent;
}

.pagination {
    display: flex;
    font-size: 16px;
    list-style: none;
    outline: none;
    margin: 15px auto;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75) !important
}

.pagination__block {
    pointer-events: none;
    cursor: none;
}

.pagination > li > a {
    border: 1px solid #088dcd;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    color: orange;
}

.pagination > li > a, .pagination > li span {
    color: orange;
}

.pagination > li:hover {
    transition: all .3s ease;
    background-color: rgba(0, 0, 0, 0.3);
}

.pagination .active > a {
    background-color: #088dcd;
    color: whitesmoke;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #088dcd;
    outline: none;
}

.pagination > li > a, .pagination > li > span {
    color: #088dcd
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: unset
}

.container__rightBlock {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
}

.deckInfo__wrap {
    width: 100%;
    padding: 10px;
}

.deckInfo__title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 16px;
    color: orange;
    font-weight: normal;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

.data__title, .data__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    min-height: 56px;
    max-height: 56px;
    color: #088dcd;
    background-color: transparent;
    border-bottom: 1px solid #088dcd;
    border-top: 1px solid #088dcd;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.data__item {
    overflow: hidden;
    overflow-y: auto;
    min-height: 90px;
    max-height: 90px;
}

.data__item:hover .item__question, .data__item:hover .item__answer{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: rgba(0, 0, 0, 0.3);
    color: whitesmoke;
}

.title__question, .item__question {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #088dcd;
    font-size: 14px;
    padding: 12px;
}

.title__question {
    width: 63%;
}


.data__border {
    width: 2px;
    height: 50%;
    padding: 10px 0;
    border: 1px solid #088dcd;
}

.title__answer, .item__answer {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #088dcd;
    font-size: 14px;
    padding: 12px;

}

.data__item_box {
    width: 100%;
    min-height: 280px;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    border: 1px solid transparent;
    flex-direction: column;
    margin-bottom: 10px;
}

.deckInfo__button_wrap {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.deckInfo__button {
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'CS Grimrock', sans-serif;
    border: 1px solid #088dcd;
    color: #088dcd;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    background-color: transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition: color, background-color;
}

.deckInfo__button:hover {
    transition: color, background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: rgba(0, 0, 0, 0.3);
    color: #088dcd;
}

.deckInfo__button:active, .deckInfo__button:focus {
    outline: none;

}

.deckInfo__button:active {
    transform: translate(1px, 1px);
}