.emptyDecks {
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.emptyDecks__text {
    font-size: 16px;
    font-family: 'CS Grimrock', sans-serif;
    color: #088dcd;
}






