.navbar__wrap {
    pointer-events: auto;
}
.navbar__wrap_notActive {
    pointer-events: none;
}

.nav__login {
    display: flex;
    align-items: center;
    width: 60px;
    height: 40px;
    margin-right: 100px;
    cursor: pointer;
}

.nav {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;


    width: auto;
    height: 72px;
    margin-top: -46px;
    background: transparent;
    border-radius: 5px;
    transform: translate3d(-50%, 0, 0);
}

.nav__cb {
    z-index: -1000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.nav__content {
    position: relative;
    width: 70px;
    height: 100%;
    transition: width 1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
}

.nav__cb:checked ~ .nav__content {
    transition: width 1s cubic-bezier(0.48, 0.43, 0.29, 1.3);
    width: 450px;
}

.nav__items {
    position: relative;
    width: 450px;
    height: 100%;
    padding-left: 33px;
    list-style-type: none;
    font-size: 0;

}

.nav__item {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    text-align: center;
    color: #ff6f00;
    font-size: 13px;
    line-height: 90px;
    font-family: 'CS Grimrock', sans-serif;
    font-weight: normal;
    perspective: 1000px;
    transition: color 0.3s;
    cursor: pointer;
}

.nav__item:hover {
    color: #bf360c;
    transform: translateY(-1px);
    transition: transform 0.3s cubic-bezier(0.48, 0.43, 0.7, 2.5);
}

.nav__item a {
    color: inherit;
    text-decoration: inherit;
    outline: none;
}

/*.nav__item-text {*/
/*    display: block;*/
/*    height: 100%;*/
/*    transform: rotateY(-70deg);*/
/*    opacity: 0;*/
/*    transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;*/
/*}*/

.nav__cb:checked ~ .nav__content .nav__item-text {
    transform: rotateY(0);
    opacity: 1;
    transition: transform 0.7s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.2s;
}

.nav__item:nth-child(1) .nav__item-text {
    transition-delay: 0.3s;
}

.nav__cb:checked ~ .nav__content .nav__item:nth-child(1) .nav__item-text {
    transition-delay: 0s;
}

.nav__item:nth-child(2) .nav__item-text {
    transition-delay: 0.2s;
}

.nav__cb:checked ~ .nav__content .nav__item:nth-child(2) .nav__item-text {
    transition-delay: 0.1s;
}

.nav__item:nth-child(3) .nav__item-text {
    transition-delay: 0.1s;
}

.nav__cb:checked ~ .nav__content .nav__item:nth-child(3) .nav__item-text {
    transition-delay: 0.2s;
}

.nav__item:nth-child(4) .nav__item-text {
    transition-delay: 0s;
}

.nav__cb:checked ~ .nav__content .nav__item:nth-child(4) .nav__item-text {
    transition-delay: 0.3s;
}

.nav__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 90px;
    cursor: pointer;
    padding: 26px 32px;
}
