.column {
    background: #F6F792;
    height: 100vh;
    float: left;
    width: 100%;
    position: relative;
}

.search {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.search_bar {
    width: 280px;
    position: relative;
    margin: 0 auto;
}
.search_bar input[type="text"] {
    width: 15px;
    background: transparent;
    -webkit-transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
    transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
    padding: 20px;
    border-color: #448996;
    text-indent: 30px;
    outline: none;
    border: 0px solid #448996;
    font-size: 12px;
    color: #A8A952;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}
.search_bar ::-webkit-input-placeholder {
    /* Safari, Chrome and Opera */
    color: #448996;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #448996;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #448996;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
    color: #448996;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.search_bar input[type="checkbox"] {
    display: none;
}

.search_bar input[type="checkbox"] + .search__label:before,
.search_bar input[type="checkbox"] + .search__label:after {
    display: none;
}

.search_bar input[type="checkbox"]:checked + label + input {
    width: 230px;
    border: 5px solid #448996;
    text-indent: 0px;
}
.search_bar input[type="checkbox"]:checked + label i {
    right: 0px;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
    transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
    color: #448996;
}
.search_bar input[type="checkbox"]:checked + label .last {
    left: 220px;
    -webkit-transform: translateY(-50%) rotate(360deg) scale(1);
    transform: translateY(-50%) rotate(360deg) scale(1);
}
.search_bar input[type="checkbox"]:checked + label p {
    top: 50%;
    -webkit-transition: all .3s .45s;
    transition: all .3s .45s;
}
.search_bar input[type="checkbox"]:not(checked) + label p {
    top: -50%;
    -webkit-transition: all .3s 0s;
    transition: all .3s 0s;
}
.search_bar .last {
    -webkit-transform: translateY(-50%) rotate(0deg) scale(0);
    transform: translateY(-50%) rotate(0deg) scale(0);
}
.search_bar i {
    position: absolute;
    font-size: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
    transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
    cursor: pointer;
    z-index: 2;
    margin: auto;
    border-radius: 4px;
    width: 56px;
    right: 50%;
    height: 54px;
    background: transparent;
    -webkit-transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
    transition: right .3s .3s, color .3s, -webkit-transform .3s .3s;
    transition: right .3s .3s, transform .3s .3s, color .3s;
    transition: right .3s .3s, transform .3s .3s, color .3s, -webkit-transform .3s .3s;
    line-height: 60px;
    color: #A8A952;
}
.search_bar i:hover {
    color: #448996;
}
.search_bar p {
    position: absolute;
    margin: 0;
    right: 52px;
    color: #448996;
    font-weight: 700;
    font-size: 30px;
    top: -50%;
    -webkit-transform: translateY(-50%) rotate(0deg) scale(1);
    transform: translateY(-50%) rotate(0deg) scale(1);
}