.profile__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url("../../images/main-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'CS Grimrock', sans-serif;
    font-weight: bold;
}

.profile__main {
    width: 1140px;
    max-width: 1140px;
    height: calc(100vh - 150px);
    margin: 100px auto 0 auto;
    background: url("../../images/profile-bg-1.png");
    background-size: auto;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    color: whitesmoke;
    border: 1px solid red;

}
