.create__wrap {
    width: 100%;
    height: 100vh;
    font-family: 'CS Grimrock', sans-serif;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    background: url('../../images/create-bg2.jpg') center center no-repeat;
    background-size: cover;
}

.create__container {
    position: relative;
    width: 1140px;
    max-width: 1140px;
    height: calc(100vh - 150px);
    margin: 100px auto 0 auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.create__left {
    flex-grow: 1;
    background: transparent;
}

.create__right {
    flex-grow: 1;
    background: transparent;
}

.create__main {
    width: 52%;
    height: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.main__top {
    width: 100%;
    height: 300px;
    display: flex;
}

.main__content {
    width: 100%;
    height: 100%;
    padding-top: 28px;
    display: flex;
}

.main__forms {
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main__decks {
    width: 218px;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 100;
}

.decks__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.decks__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 186px;
    height: 30px;
    margin-bottom: 20px;
    font-family: sans-serif;
    border: 1px solid orange;
    color: orange;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    background-color: transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition: color, background-color;
    cursor: pointer;
}

.decks__button:hover {
    transition: color, background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: orange;
    color: black;
}

.decks__button:active, .decks__button:focus {
    outline: none;

}

.decks__button:active {
    transform: translate(1px, 1px);
}

.create__aside {
    width: 48%;
    height: 100%;
    display: flex;
}
