.restorePsw {

}

.restorePassword_form {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.container_restorePassword {

}

.restorePasw_formError {
    color: red;
}

.restorePassword_form_button {
    padding-top: 10px;
}

.wrap_restorePassword_form {

}