.form {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);
  overflow: hidden;
}
.recoveryPsw__info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  font-size: 14px;
  color: #3e2723;
  min-width: 240px;
  max-width: 300px;
}