.menu {
    width: 90px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    background-image: url('../../images/cтена-218.png');
    background-size: cover;
    background-repeat: no-repeat;
}