body {
 overflow: hidden;
}
@font-face {
  font-family: 'CS Grimrock';
  src: url('./main/ui/fonts/CSGrimrock.eot');
  src: local('CS Grimrock'), local('CSGrimrock'),
  url('./main/ui/fonts/CSGrimrock.eot?#iefix') format('embedded-opentype'),
  url('./main/ui/fonts/CSGrimrock.woff2') format('woff2'),
  url('./main/ui/fonts/CSGrimrock.woff') format('woff'),
  url('./main/ui/fonts/CSGrimrock.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 /*сброс стилей*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
select {
  font: inherit;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus
 {
  border: 0;
  -webkit-text-fill-color: #1f1f20;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}

/*-----scrollbar*/
::-webkit-scrollbar-button {
    /*background-image:url('');*/
    background-repeat:no-repeat;
    width:6px;
    height:0px;

}

::-webkit-scrollbar-track {
    background-color:#32312e;
    box-shadow:0px 0px 3px #000 inset;

}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#a9a9a9;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
    background-position:center;
    background-repeat:no-repeat;

}

::-webkit-resizer{
    /*background-image:url('');*/
    background-repeat:no-repeat;
    width:7px;
    height:0px;

}

::-webkit-scrollbar{
    width: 11px;

}
