
.get_users_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    align-items: center
}
.name_user {
    color: #bf360c;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}
.avatar_user {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user__avatar {
    border-radius: 50%;
}

.get_users {
    display: flex;
}
.cursorSort {
 cursor: pointer;
}
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}
.pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
}
.pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
}
.pagination > li > a, .pagination > li > span{
    color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
}