.users__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    min-height: 56px;
    max-height: 56px;
    padding:0  24px;
    color: #088dcd;
    background-color: transparent;
    border-bottom: 1px solid #088dcd;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.users__data_block {
    pointer-events: none;
    cursor: none;
}

.users__data:hover {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: whitesmoke;
}
.users__avatar {
    width: 50px;
    height: 50px;
}
.users__avatar img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}

.users__nick {

}

.users__decks {

}
