@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600;1,800&display=swap');
/*font-family: 'EB Garamond', serif*/

.card__wrap {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    height: 300px;
    color: whitesmoke;
    background-color: #0b3b63;
    z-index: 0;
}

.card__buttons {
    color: black;
    position: relative;
    width: 12%;
    height: 100%;
    padding: 10px;
    background: #0b3b63 url('../../../icons/thinking-face.png') center center no-repeat;
    background-size: contain;
}

.buttons__group {
    z-index: -10;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    border-radius: 100%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    transition: .25s cubic-bezier(0.25, 0, 0, 1);
}

.buttons__group button {
    position: absolute;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 100%;
    background-color: #0b3b63;
    color: whitesmoke;
    font-size: 10px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .25s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 -.25rem #1f5e25;
}

.buttons__group button:focus, .buttons__group button:active {
    outline: none;
}
.buttons__group button:active {
    transform: translate(1px, 1px);
}
.buttons__group button:hover {
    background: red;
    color: black;
    box-shadow: 0 0 1rem -.25rem black;
}

.buttons__group button:first-child:nth-last-child(4),
.buttons__group button:first-child:nth-last-child(4) ~ *:nth-child(2) {
    left: 37.5%;
    top: 18.75%;
}

.buttons__group button:hover:nth-child(2) {
    background: orange;
}

.buttons__group button:hover:nth-child(3) {
    background: greenyellow;
}

.buttons__group button:hover:nth-child(1) {
    background: red;
}

.buttons__group button:hover:nth-child(4) {
    background: green;
}

.buttons__group button:first-child:nth-last-child(4),
.buttons__group button:first-child:nth-last-child(4) ~ *:nth-child(3) {
    left: 18.75%;
    top: 37.5%;
}

.buttons__group button:first-child:nth-last-child(4),
.buttons__group button:first-child:nth-last-child(4) ~ *:nth-child(4) {
    left: 18.75%;
    top: 62.5%;
}

.buttons__group button:first-child:nth-last-child(4),
.buttons__group button:first-child:nth-last-child(4) ~ *:nth-child(1) {
    left: 62.5%;
    top: 18.75%;
}

.card__buttons:hover  .buttons__group {
    width: 150px;
    height: 150px;
}

.card__voting {
    display: flex;
    width: 100%;
    height: 58px;
    min-height: 58px;
    border-bottom: 1px dashed  orange;
}

.card__title {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: whitesmoke;
}

.card__title p {
    font-size: 12px;
    color: whitesmoke;
}
.title__icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.text__title {
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    color: orange;
    margin: 0;
}
.card__text {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.card__popupBlock {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}


.text__discr {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-style: italic;
    overflow: hidden;
    overflow-y: auto;
    transition: all .3s ease;
    border-right: 1px solid transparent;

}

.text__discr_center {
    justify-content: center;
}

.discr {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    /*margin-bottom: 5px;*/
    margin-top: 15px;

}

.discr:hover .discr__text.discr__text_green {
    color: green;
    transition: all .3s ease;
}

.discr:hover .discr__text.discr__text_red {
    color: red;
    transition: all .3s ease;
}

.discr:hover .discr__text{
    color: #088dcd;
    transition: all .3s ease;
}

.discr__number {
    width: 30px;
    min-width: 30px;
    font-family: 'CS Grimrock', sans-serif;
    color: orange;
    font-size: 12px;
    margin-right: 16px;
}

.discr__text {
    text-align: start;
    font-size: 16px;
}

.discr__text_green {
    color: green;
}


.discr__text_red {
    color: red;
}