
.card__wrap {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: 'CS Grimrock', sans-serif;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    min-height: 300px;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
    pointer-events: none;
}

.card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(700ms * 2) cubic-bezier(0.19, 1, 0.22, 1);
}

.card:nth-child(1):before {
    background-image: url('../../../images/card-bg/card-bg-1.jpg');
}

.card:nth-child(2):before {
    background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(3):before {
    background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card:nth-child(4):before {
    background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.card__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

.card__content > * + * {
    margin-top: 1rem;
}

.card__content .card__title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;

    opacity: 1;
}

.card__text {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.card__btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.card__btn:hover {
    background-color: #0d0d0d;
}

.card__btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}


/*=========*/
@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .card__content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .card__content > *:not(.card__title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1), opacity 700ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .card:hover, .card:focus-within {
        align-items: center;
    }

    .card:hover:before, .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after, .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .card__content, .card:focus-within .card__content {
        transform: translateY(0);
    }

    .card:hover .card__content > *:not(.card__title), .card:focus-within .card__content > *:not(.card__title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(700ms / 8);
    }

    .card:focus-within:before, .card:focus-within:after, .card:focus-within .card__content, .card:focus-within .card__content > *:not(.card__title) {
        transition-duration: 0s;
    }
}

