
.card__wrap {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: 'CS Grimrock', sans-serif;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

    border-radius: 5px;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    min-height: 300px;
    text-align: center;
    color: whitesmoke;


    background-color: #0b3b63;
    /*border-radius: 5px;*/
  
    
}





