.editor__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.editor__imgBlock, .editor__canvasblock {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgBlock, .canvasblock {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.avatar__default, .avatar__user,
.avatar__base64 {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.avatar__base64 {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.avatar__button, .canvasblock__buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.avatar__input {

}

.canvasblock {
    overflow: hidden;
    border-radius: 50%;
}


.button__change, .button__apply, .button__cansel {
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    outline: none;
    border: 1px solid #0b3b63;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 10px;
    background-color: #0b3b63;
    color: orange;
    border-radius: 2px;
}


.button__change, .button__apply, .button__cansel {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.button__change:hover, .button__change:disabled, .button__apply:hover,
.button__apply:disabled, .button__cansel:hover, .button__cansel:disabled {
    background-color: #1260a1;
    color: orange;
    border: 1px solid #1260a1;
}

.button__change:active, .button__apply:active, .button__cansel:active {
    transform: translate(1px, 1px);
}

